.is_receipt_css {
  color: #22B130;
  text-align: right;
  padding: .2rem 0; }

.showContainer {
  height: 100%;
  overflow: hidden; }

.accordion {
  padding-left: 20px;
  border-bottom: .02rem solid #ececec; }
  .accordion div {
    color: #888888;
    min-height: 44px;
    line-height: 44px;
    text-align: right;
    margin-right: .6rem; }

.disabling .van-field__control {
  font-size: 11px; }

.fourth .van-cell.van-hairline.van-field {
  width: 25%; }
  .fourth .van-cell.van-hairline.van-field .van-cell__value {
    padding-left: 20px; }

.first_date .van-cell.van-hairline.van-field {
  width: 36%; }
  .first_date .van-cell.van-hairline.van-field .van-cell__value {
    padding-left: 0; }
.first_date .title.van-cell.van-hairline.van-field {
  width: 31%; }
.first_date span.cut {
  padding-right: 10px;
  line-height: 39px;
  color: #969696;
  border-bottom: 1px solid #F4F4F4; }

.first_date.month .van-cell:not(:last-child):after {
  border: none; }

.first_date .titles, .checks .titles, .fourth .titles {
  min-width: 105px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 15px; }
.first_date .titles.required:after, .checks .titles.required:after, .fourth .titles.required:after {
  content: '*';
  position: absolute;
  left: 7px;
  font-size: 14px;
  color: #f44; }
.first_date .van-cell.van-field, .checks .van-cell.van-field, .fourth .van-cell.van-field {
  padding-left: 0; }

.titleRed {
  padding-left: 110px;
  padding-bottom: .1rem;
  font-size: .24rem;
  color: #e4393c;
  border-bottom: 1px solid #f4f4f4; }

.fourth, .first_date {
  display: flex;
  display: -webkit-flex; }
  .fourth span.cut, .first_date span.cut {
    padding-right: 10px;
    line-height: 39px;
    color: #969696;
    border-bottom: 1px solid #F4F4F4; }
  .fourth .twoBorder, .first_date .twoBorder {
    border-bottom: 1px solid #F4F4F4;
    padding-bottom: 9px; }

.aloneModel {
  background: #fff;
  width: 100%;
  margin: 5px 0;
  padding-bottom: 10px; }
  .aloneModel .title {
    padding: 10px 15px; }

.aloneModel.required .title {
  padding-left: .2rem; }
  .aloneModel.required .title span {
    color: #f44; }
  .aloneModel.required .title div {
    margin-top: .1rem; }

div .van-switch.van-switch--on {
  background: #409EFF; }
div .van-switch .van-switch__node {
  font-size: 26px; }
div .van-icon.van-icon-checked {
  color: #409EFF; }
div .van-checkbox.van-checkbox--round .van-checkbox__control:checked + .van-icon-success {
  background-color: #409EFF;
  border-color: #409EFF; }
div .van-cell.van-hairline.van-field .van-cell__title {
  width: 110px; }
div .van-cell.van-hairline.van-field .van-cell__value {
  padding-left: 110px; }
  div .van-cell.van-hairline.van-field .van-cell__value i {
    transform: rotate(90deg);
    transition: all .5s; }
div .payWay.van-cell.van-hairline.van-field i {
  transform: rotate(-90deg);
  transition: all .5s; }

.checkCss {
  background-color: #FFFFFF;
  padding: .15rem .3rem; }
  .checkCss .van-checkbox {
    margin: .12rem; }

.checkCss .van-checkbox.van-checkbox--round, .checkCss .van-radio, .subjectB .van-checkbox.van-checkbox--round, .subjectB .van-radio {
  margin: .2rem 0; }

.checks {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  height: 44px; }
  .checks .checkTitle {
    min-width: 110px; }
  .checks .van-radio-group {
    display: flex;
    display: -webkit-flex; }
    .checks .van-radio-group .van-radio {
      margin-right: .3rem; }

.checks.radio {
  margin-left: -6px;
  border-bottom: 1px solid #f4f4f4;
  height: 45px; }
  .checks.radio .req {
    color: #f44; }

.paddingTitle {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  padding: .26rem .3rem;
  color: #aaaaaa; }
  .paddingTitle .colors {
    color: #409EFF; }

.addInput {
  height: .9rem;
  line-height: .9rem;
  text-align: center;
  color: #409EFF;
  background: #ffffff;
  margin-bottom: .2rem;
  border-bottom: 1px solid #f8f8f8; }

.addInput.bottom {
  margin-bottom: .2rem; }

.top, .footer {
  position: fixed;
  left: 0;
  right: 0;
  height: .9rem;
  z-index: 666;
  background: #ffffff; }

.main {
  width: 100%;
  margin: .2rem 0 1.2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

.footer {
  border-top: 1px solid #ebebeb;
  bottom: 0;
  height: 1rem;
  background: #FFFFFF;
  z-index: 999;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center; }
  .footer div {
    color: #409EFF;
    width: 100%;
    height: .6rem;
    line-height: .6rem;
    text-align: center; }
  .footer div + div {
    border-left: 1px solid #ebebeb; }

.notData {
  text-align: center;
  padding: 24px 0;
  font-size: .33rem;
  color: #b3afaf;
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.searchClass {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  z-index: 999; }
  .searchClass .searchCustom {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    padding: .1rem 0 .1rem .3rem;
    background-color: #f2f2f2; }
    .searchClass .searchCustom div {
      display: flex;
      display: -webkit-flex;
      align-items: center;
      height: 34px;
      width: 100%;
      padding: 9px 0 7px;
      border: 1px solid #dddddd;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background-color: #FFFFFF; }
      .searchClass .searchCustom div input {
        width: 98%;
        border: 0;
        height: 22px; }
      .searchClass .searchCustom div i {
        color: #666666;
        font-size: .4rem;
        padding: .1rem .24rem;
        margin-top: -.03rem; }
    .searchClass .searchCustom p {
      min-width: 50px;
      text-align: center;
      color: #06bf04; }
  .searchClass .searchContent {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 80%; }
    .searchClass .searchContent .searchList {
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      padding: .3rem; }
      .searchClass .searchContent .searchList:hover {
        background: #DDDDDD; }
      .searchClass .searchContent .searchList div:first-child {
        width: 48%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
      .searchClass .searchContent .searchList div:last-of-type {
        text-align: right; }
        .searchClass .searchContent .searchList div:last-of-type p {
          margin-bottom: .1rem; }
        .searchClass .searchContent .searchList div:last-of-type span {
          color: #aaaaaa; }
    .searchClass .searchContent .searchList.city {
      align-items: center; }
      .searchClass .searchContent .searchList.city div:first-child {
        line-height: .5rem; }
      .searchClass .searchContent .searchList.city p {
        margin-bottom: 0; }
  .searchClass .van-search__input-wrap {
    padding-top: 5px; }
    .searchClass .van-search__input-wrap .van-search__input {
      height: 22px; }

div .van-field--disabled .van-field__control {
  color: #101010; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #dddddd; }

input::-moz-placeholder, textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #dddddd; }

input:-moz-placeholder, textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #dddddd; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dddddd; }

/*# sourceMappingURL=index.css.map */
