@mixin flex {
  display: flex;
  display: -webkit-flex;
}

$color: #409EFF;

//#agencyReport, #checkout, #rentReport, #clearRetreat, #collectReport, #confiscate, #collectReport, #continueRent, #drawbackReport, #finalReport, #friedBill, #collectPolishing, #rentPolishing, #cardDetail, #quality, #rentReport, #special, #transferReport, #uncollectBeforeRent, #uncollectBeforeRentSure, #searchCity, #searchClass, #organzie, #hello, #warning {
//
//}
.is_receipt_css {
  color: #22B130;
  text-align: right;
  padding: .2rem 0;
}

.showContainer {
  height: 100%;
  overflow: hidden;
}

.accordion {
  padding-left: 20px;
  border-bottom: .02rem solid #ececec;
  div {
    color: #888888;
    min-height: 44px;
    line-height: 44px;
    text-align: right;
    margin-right: .6rem;
  }
}

.disabling {
  .van-field__control {
    font-size: 11px;
  }
}

.fourth {
  .van-cell.van-hairline.van-field {
    width: 25%;
    .van-cell__value {
      padding-left: 20px;
    }
  }
}

.first_date {
  .van-cell.van-hairline.van-field {
    width: 36%;
    .van-cell__value {
      padding-left: 0;
    }
  }
  .title.van-cell.van-hairline.van-field {
    width: 31%;
  }
  span.cut {
    padding-right: 10px;
    line-height: 39px;
    color: #969696;
    border-bottom: 1px solid #F4F4F4;
  }
}

.first_date.month {
  .van-cell:not(:last-child):after {
    border: none;
  }
}

.titleRed {
  padding-left: 110px;
  padding-bottom: .1rem;
  font-size: .24rem;
  color: #e4393c;
  border-bottom: 1px solid #f4f4f4;
}

.fourth, .first_date {
  span.cut {
    padding-right: 10px;
    line-height: 39px;
    color: #969696;
    border-bottom: 1px solid #F4F4F4;
  }
  @include flex;
  .twoBorder {
    border-bottom: 1px solid #F4F4F4;
    padding-bottom: 9px;
  }
}

.aloneModel {
  background: #fff;
  width: 100%;
  margin: 5px 0;
  padding-bottom: 10px;
  .title {
    padding: 10px 15px;
  }
}

.aloneModel.required {
  .title {
    padding-left: .2rem;
    span {
      color: #f44;
    }
    div {
      margin-top: .1rem;
    }
  }
}

div {
  .van-switch.van-switch--on {
    background: $color;
  }
  .van-switch {
    .van-switch__node {
      font-size: 26px;
    }
  }
  .van-icon.van-icon-checked {
    color: $color;
  }
  .van-checkbox.van-checkbox--round {
    .van-checkbox__control:checked + .van-icon-success {
      background-color: $color;
      border-color: $color
    }
  }
  .van-cell.van-hairline.van-field {
    .van-cell__title {
      width: 110px;
    }
    .van-cell__value {
      padding-left: 110px;
      i {
        transform: rotate(90deg);
        transition: all .5s;
      }
    }
  }

  .payWay.van-cell.van-hairline.van-field {
    i {
      transform: rotate(-90deg);
      transition: all .5s;
    }
  }
}

.checkCss {
  background-color: #FFFFFF;
  padding: .15rem .3rem;
}

.checkCss, .subjectB {
  .van-checkbox.van-checkbox--round, .van-radio {
    margin: .2rem 0;
  }
}

.checks {
  @include flex;
  align-items: center;
  height: 44px;
  .checkTitle {
    min-width: 110px;
  }
  .van-radio-group {
    @include flex;
    .van-radio {
      margin-right: .3rem;
    }
  }
}

.checks.radio {
  margin-left: -6px;
  border-bottom: 1px solid #f4f4f4;
  height: 45px;
  .req {
    color: #f44;
  }
}

.paddingTitle {
  @include flex;
  justify-content: space-between;
  padding: .26rem .3rem;
  color: #aaaaaa;
  .colors {
    color: $color;
  }
}

.addInput {
  height: .9rem;
  line-height: .9rem;
  text-align: center;
  color: $color;
  background: #ffffff;
  margin-bottom: .2rem;
}

.addInput.bottom {
  margin-bottom: .2rem;
}

.top, .footer {
  position: fixed;
  left: 0;
  right: 0;
  height: .9rem;
  z-index: 666;
  background: #ffffff;
}

//.main {
//  margin: .2rem 0 1.2rem;
//}

.main {
  width: 100%;
  margin: .2rem 0 1.2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

//.top {
//  top: 0;
//  box-shadow: 0 3px 10px 0 #dddddd;
//  .van-hairline--top-bottom::after {
//    border-bottom: 0;
//  }
//}

.footer {
  border-top: 1px solid #ebebeb;
  bottom: 0;
  height: 1rem;
  background: #FFFFFF;
  z-index: 999;
  @include flex;
  justify-content: space-around;
  align-items: center;
  div {
    color: $color;
    width: 100%;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
  }
  div + div {
    border-left: 1px solid #ebebeb;
  }
}

.notData {
  text-align: center;
  padding: 24px 0;
  font-size: .33rem;
  color: #b3afaf;
  @include flex;
  justify-content: center;
}

.searchClass {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  z-index: 999;
  .searchCustom {
    @include flex;
    align-items: center;
    padding: .1rem 0 .1rem .3rem;
    background-color: rgb(242, 242, 242);
    div {
      @include flex;
      align-items: center;
      height: 34px;
      width: 100%;
      padding: 9px 0 7px;
      border: 1px solid #dddddd;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background-color: #FFFFFF;
      input {
        width: 98%;
        border: 0;
        height: 22px;
      }
      i {
        color: #666666;
        font-size: .4rem;
        padding: .1rem .24rem;
        margin-top: -.03rem;
      }
    }
    p {
      min-width: 50px;
      text-align: center;
      color: #06bf04;
    }
  }
  .searchContent {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 80%;
    .searchList {
      @include flex;
      justify-content: space-between;
      padding: .3rem;
      &:hover {
        background: #DDDDDD;
      }
      div:first-child {
        width: 48%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      div:last-of-type {
        text-align: right;
        p {
          margin-bottom: .1rem;
        }
        span {
          color: #aaaaaa;
        }
      }
    }
    .searchList.city {
      align-items: center;
      div:first-child {
        line-height: .5rem;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
  .van-search__input-wrap {
    padding-top: 5px;
    .van-search__input {
      height: 22px;
    }
  }
}

div {
  .van-field--disabled .van-field__control {
    color: #101010;
  }
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #dddddd;
}

input::-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #dddddd;
}

input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #dddddd;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #dddddd;
}
